# Run manually to reformat a file:
# clang-format -i --style=file <file>
Language: Cpp
BasedOnStyle: Google
# 缩进宽度
IndentWidth: 2
# 访问修饰符的缩进
AccessModifierOffset: -2
# 控制预处理指令缩进
IndentPPDirectives: AfterHash
# 控制switch声明中的case缩进
IndentCaseLabels: true
# 代码最大列数
ColumnLimit: 120
#BreakBeforeBraces: Allman
BreakBeforeBraces: Custom
# 控制着花括号的样式(如果想要这个选项生效,必须将BreakBeforeBraces设置为BS_Custom(配置项对应Custom))
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# 允许重新排版注释
#ReflowComments:	true
