QWidget {
    background-color: #FFFFFF;
}

QWidget#MenuWidget {
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 #2c3e50, stop:1 #FFFFFF);
}

QWidget#GameWidget {
    /* background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 #0F2027, stop:0.5 #203A43, stop:1 #2C5364); */
    /* background-image: url(:/resources/bg.jpg); */
    border-image: url(:/resources/bg.jpg);
}

QPushButton {
    border-radius: 5px;
    color: #FFFFFF;
    padding: 2px 12px 2px 12px;
    background-color: #1989FA;
    height: 24px;
    width: 48px;
}

QPushButton::default {
    border-radius: 5px;
    color: #FFFFFF;
    padding: 2px 12px 2px 12px;
    background-color: #1989FA;
}

QPushButton:hover {
    border-radius: 5px;
    color: #FFFFFF;
    padding: 2px 12px 2px 12px;
    background-color: #266FE8;
}

QPushButton:pressed {
    border-radius: 5px;
    color: #FFFFFF;
    padding: 2px 12px 2px 12px;
    background-color: #4787F0;
}

QPushButton:disabled {
    border-style: solid;
    border-top-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgb(215, 215, 215), stop:1 rgb(222, 222, 222));
    border-right-color: qlineargradient(spread:pad, x1:0, y1:0.5, x2:1, y2:0.5, stop:0 rgb(217, 217, 217), stop:1 rgb(227, 227, 227));
    border-left-color: qlineargradient(spread:pad, x1:0, y1:0.5, x2:1, y2:0.5, stop:0 rgb(227, 227, 227), stop:1 rgb(217, 217, 217));
    border-bottom-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgb(215, 215, 215), stop:1 rgb(222, 222, 222));
    border-width: 1px;
    border-radius: 5px;
    color: #808086;
    padding: 2px 12px 2px 12px;
    background-color: rgb(142, 142, 142);
}

QLabel {
    /* font-size: 24px; */
    color: #1989FA;
    background-color: transparent;
    /* background-color: #1989FA; */
}

QLabel#gridLabel {
    font-size: 30px;
    color: #FFFFFF;
    background-color: #334154;
}

QLCDNumber {
    color: rgb(255, 255, 255);
    padding: 1px;
    border-style: solid;
    /* border: 1px solid #FFFFFF; */
    border-radius: 8px;
    background-color: #1989FA;
}

QRadioButton {
    color: #000000;
    padding: 1px;
}

QRadioButton::indicator:checked {
    height: 10px;
    width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(0, 113, 255, 255), stop:1 rgba(91, 171, 252, 255));
    color: #a9b7c6;
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(0, 113, 255, 255), stop:1 rgba(91, 171, 252, 255));
}

QRadioButton::indicator:!checked {
    height: 10px;
    width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(0, 113, 255, 255), stop:1 rgba(91, 171, 252, 255));
    color: #a9b7c6;
    background-color: transparent;
}

QSpinBox {
    border-style: solid;
    border-width: 1px;
    border-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(0, 113, 255, 255), stop:1 rgba(91, 171, 252, 255));
}

/************************************************************************************************************************************************/
/* maybe use */
/* QLineEdit {
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(0, 113, 255, 255), stop:1 rgba(91, 171, 252, 255));
}

QMenuBar {
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(207, 209, 207, 255), stop:1 rgba(230, 229, 230, 255));
}

QMenuBar::item {
    color: #000000;
    spacing: 3px;
    padding: 1px 4px;
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(207, 209, 207, 255), stop:1 rgba(230, 229, 230, 255));
}

QMenuBar::item:selected {
    background-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(0, 113, 255, 255), stop:1 rgba(91, 171, 252, 255));
    color: #FFFFFF;
}

QMenu::item:selected {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(0, 113, 255, 255), stop:1 rgba(91, 171, 252, 255));
    border-bottom-color: transparent;
    border-left-width: 2px;
    color: #000000;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 7px;
}

QMenu::item {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    color: #000000;
    padding-left: 17px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 7px;
} */