/*QWidget#MainMenu {background-color:rgb(32,73,105)}*/
QDialog#Selector {background-color:rgb(16,37,53)}
QLabel{color:rgb(254,212,128)}
/*
QPushButton{color:white;background-color:rgb(16,37,53);border-style: outset;border-radius:5px;padding: 6px;}
*/
/* 透明 */
QPushButton{background: transparent;color:rgb(254,212,128);border-style: outset;border-radius:5px;padding: 6px;}
QLCDNumber{color: rgb(255, 255, 255)}

